#pcMainDiv{
    padding: 25vw;
    color: rgb(10, 59, 112);
}
#squareGroup span{
    width: 25% !important;
    padding-bottom: 25% !important;
    display: inline-block;
    background-color: beige;
}
p{
    margin: 0 !important;
    font-size: 1rem;
}
@media(max-width : "980px"){
#pcMainDiv{
    padding: 10vw;
    color: rgb(10, 59, 112);
}
#squareGroup span{
    width: 25% !important;
    padding-bottom: 25% !important;
    display: inline-block;
    background-color: beige;
}
p{
    font-size: .7rem;
}
}