.pcMainDiv{
    color: rgb(10, 59, 112);
    max-width: 900px !important;
    margin: auto !important;
    margin-top: 20px !important;
}
body{
    opacity: 0;
}
.squareGroup span{
    width: 60px;
    padding-bottom: 60px;
    display: inline-block;
}
#disqus_thread{
    max-width: 900px !important;
    margin: auto !important;
}
p{
    margin: 0 !important;
    font-size: .9rem;
}
.pcMainImg{
    float: left;
    width: 200px;
    margin-right: 30px;
    height: 300px;
}
.specLip{
    width: 100%;
    margin-top : 20px;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-bottom: 20px;
}
.pcTitle{
    width : 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.pcTopText {
    position: relative;
    top: -12px;
    p{
    font-size: .9rem !important;
}
}
.pcTopDiv{
    display: inline-flex;
    padding-top: 15px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
}
#reTryP{
    font-size: 14px;
    margin-bottom: 1rem !important;
    word-break: keep-all;
}
.ads{
    display: block;
    margin: auto;
    width: 900px !important;
    min-width: unset;
}
@media(max-width : "900px"){
.pcMainDiv{
    padding: 7vw;
    padding-top: 0 !important;
    color: rgb(10, 59, 112);
}
.ads{
    width: 100% !important;
}
#disqus_thread{
    max-width: 100% !important;
    margin: auto !important;
}
#reTryP{
    font-size: 10px;
    margin-bottom: 1rem !important;
}
.pcMainImg{
    width: 150px;
    height: 225px;
    margin-right: 5vw;
}
.squareGroup span{
    width: 40px ;
    padding-bottom: 40px ;
    display: inline-block;
}
.pcTopText {
    p{
    font-size: .78rem !important;
}
}
p{
    font-size: .78rem;
}
}