.pcMainDiv{
    padding: 20vw;
    padding-top: 2vw !important;
    color: rgb(10, 59, 112);
}
.squareGroup span{
    width: 6vw;
    padding-bottom: 6vw;
    display: inline-block;
}
p{
    margin: 0 !important;
    font-size: 1.2vw;
}
.pcMainImg{
    float: left;
    width: 22vw;
    margin-right: 3vw;
    height: 30vw;
}
.pcTopText p{
    font-size: 1.5vw !important;
}
.pcTopDiv{
    display: inline-flex;
    padding-top: 15px;
    padding-left: 9vw;
    margin-bottom: 3vw;
}
@media(max-width : "980px"){
.pcMainDiv{
    padding: 10vw;
    color: rgb(10, 59, 112);
}
.pcMainImg{
    width: 30vw;
    height: 51vw;
    margin-right: 5vw;
}
.squareGroup span{
    width: 10vw ;
    padding-bottom: 10vw ;
    display: inline-block;
}
.pcTopDiv{
    padding-left: 10vw;
}
.pcTopText p{
    font-size: 2.5vw !important;
}
p{
    font-size: 2vw;
}
}